<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{layout::menu}"></nav>
<h1>Compras</h1>
</body>
<div class="card-group">
    <div class="card">
        <img src=".." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Audifonos Redragon</h5>
            <p class="card-text">Tipo de cable: 1.5m mallado en tela de alta resistencia. Tipo de micrófono y captación: Omnidireccional, fijo y flexible. Extras: Compatible con PC, PS4, XBOX ONE S. Contenido de la caja: Auriculares con Micrófono incorporado, Manual, Cable 3.5mm mallado, Cable de carga USB-C, Sticker Redragon, Receptor USB 2.4Ghz......</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Mouse Asus Gaming</h5>
            <p class="card-text">ASUS TUF Gaming M3 Gen II es un mouse para juegos alámbrico ultraligero de 59 gramos con resistencia al polvo y al agua IP56, ASUS Antibacterial Guard, un sensor de 8,000 ppp, switches de vida útil de 60 millones de clics, pies de mouse de PTFE y seis botones programables.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Hyperx Alloy Fps Pro</h5>
            <p class="card-text">El HyperX™ Alloy FPS Pro es para el jugador FPS que desea un teclado sin tenkey (TKL) fiable y preciso que le permita aumentar su espacio del escritorio. Este teclado de 87 teclas proporciona todo lo que un jugador profesional necesita, pero sin el teclado numérico.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
</html>